body{
     margin: auto;
     /* background-image: url(assets/background.png); */
    background-color:#081f4a;
}
header{
    width: 100%;
    height: 800px;
    background-color: #828282;
    display:flex;
    background-image: url(assets/background.png);
    
    

}
.logo img{
    position: absolute;
    width: 600px;
    left: 960px;
    top: 100px;
    border-radius: 10%;
    box-shadow: 10px 7px 7px rgb(64, 12, 80);
}
.logo h1{
    font-family: 'Sawarabi Mincho', serif;
   padding: 50px;
   text-shadow:  1px 1px 2px red,
   0 0 1em blue,
   0 0 0.2em blue;;
   color: rgb(255, 255, 255);
   
   
    
}
.logo p{
    padding: 54px 50px 42px;
     max-width: 486px;
     color:white;
     font-size: large;
     font-weight: 1000;
     font-family: 'Sawarabi Mincho', serif;
}
.logo .buttons{
    display: flex;
    gap: 10px;
    padding:54px 50px 42px;
}
.logo .buttons .primary{
    background-color: #ffffff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
    height: 42px;
    cursor: pointer;
    color: black;
}
main{
    
}
.card {
    display: flex;
    background: white;
    width: 992px;
    height: 524px;
    border-radius: 24px;
    border: solid 2px black;
    overflow: hidden;
    margin: auto;
    margin-top: 40px;
    box-shadow: 10px 7px 7px rgb(64, 12, 80);
  }
  .card-left{
    
  }
  .card h3{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
    margin-top: 0;
    padding: 5px;
  }
  .card p{
    font-size: 18px;
    color: #828282;
    margin-bottom: 24px;
    padding: 5px;
  }
  .final{
    display: flex;
    justify-content: center;
  }

  .primary{
    background-color: #ffffff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
    height: 42px;
    cursor: pointer;
    
  }

  .primary:hover {
    background: linear-gradient(45deg, #ff33f5, #822e85);
    box-shadow: 0px 0px 20px rgba(255, 51, 221, 0.6);
}

/* Efeito de "apertar" ao clicar */
@keyframes bounce {
    0% { transform: scale(1); }
    50% { transform: scale(0.9); }
    100% { transform: scale(1); }
}

.primary:active {
    animation: bounce 0.2s ease;
}
  
  section.formulario{
    padding: 80px 4%;

}
form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 60px;
}

form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea{
    resize: none;
    max-height: 200px;

}
form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}
form .btn-enviar input{
    width: 120px;
    background-color: #48427e;
    color: black;
    cursor: pointer;
    font-weight: 700;
    transform: .2s;
}

form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #48427e;
    transform: scale(1.05);
}
.titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}